<div [class.m2app-dark]="true">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div>
            <md-input name="username" #username [(ngModel)]="model.username" placeholder="Enter email" required></md-input>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div>
            <md-input name="password" #password [(ngModel)]="model.password" placeholder="Enter password"></md-input>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <button md-raised-button color=’success’ [disabled]="loading" class="btn btn-primary">LOGIN</button>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>

